/*
h1.#homePage {
	margin-top:0px;
}
*/
.image-container{
	padding: 2vw;
}

.home-image {
    width: 100%;
    object-fit: contain;
}

.home-image:hover {
	transform: scale(1.02, 1.02);
	cursor:pointer;
}


/*.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}*/



/*div.column {   
  /*  width: 540px;
    margin-top:90px;*/
/* margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}*/
/*.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}*/