body {
    background-color: #FFF0F5 !important;
}

a.navbar-brand {
    font-size: 40px;
    text-shadow: 3px 3px 3px #ababab;
    color: #FAFAD2 !important;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    margin-right: 50px;
}

.navbar {
    background-color: #FFB6C1;
}

div.container {
    margin: 10px auto;
}

a.nav-link {
    font-size: 20px;
    color: #FAFAD2 !important;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    margin-right: 10px;
}

button.navbar-toggler {
    border: 1px solid #FAFAD2 !important;
}

ul.dropdown-menu {
    background-color: #FFE4E1;
    border-radius: 10px;
}

a.dropdown-item {
    font-size: 20px;
    color: #DB7093;
    font-family: 'Courier New', monospace;
    text-align: center;
}

a.dropdown-item:hover {
    color: #F08080;
}

.glyphicon {
    color: #FAFAD2 !important;
}

.panel-footer {
    background-color:#FFDAB9;
}

footer.panel-footer {
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    margin: 0; 
    padding: 0;
}

ul.panel-footer {
    list-style: none;
    padding-left: 0;
}

footer a {
    text-decoration: none;
    color: #87CEFA;
    font-weight: bold;
}

a.panel-footer:hover {
    text-decoration: underline;
}


.ft-title {
    color: #DB7093;
    font-family: 'Courier New', monospace;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.ft-main {
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 2.5vw;
    min-width: 1.5rem;
}

